/ghas-1.0.2.vsix
/ghas-1.0.3.vsix
/ghas-1.0.4.vsix
/ghas-1.0.5.vsix
/github-account-switcher-ghas-0.1.0.vsix
/github-account-switcher-ghas-0.1.1.vsix
/github-account-switcher-ghas-0.1.2.vsix
/github-account-switcher-ghas-0.1.3.vsix
/github-account-switcher-ghas-0.1.4.vsix